@model IEnumerable<VTCT.Models.VHSTapeListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*THIS SHOWS A SUCCESS MESSAGE WHEN A VHS TAPE IS CREATED*@
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VHSTapeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VHSTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VHSDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VHSGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VHSTapeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VHSTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VHSDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VHSGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VHSTapeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.VHSTapeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VHSTapeID })
            </td>
        </tr>
    }

</table>
